$body-fonts: 'Clash Display', sans-serif;

$body-fz: 16px;
$head-fw: 700;


// Bakcgroun Color

:root {
    --txt-color: #000000;
    --theme-txt-clr: #7CA3D6;
    --theme-bg: #7CA3D6;
    --white-bg: #ffffff;
    --white-txt: #ffffff;
}






